.relatedPosts {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imageWrapper {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-link-color);
}
