:root {
  --primary-background-color: #f8f7f0;
  --primary-header-color: #fff;
  --primary-link-color: #87240f;
  --secondary-link-color: #cf4f00;
  --third-link-color: #e66108;
  --gray-color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  background-color: var(--primary-background-color);
  padding-top: 20vh;
}
.main {
  width: 90%;
  margin: auto;
}
a {
  text-decoration: none;
}
