.nav {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.navLi {
    padding: 0px 8px;
    align-content: center;
    height: 100%;


}

.innerNav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    background-color: var(--primary-header-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;

}

.arrowToggle {
    color: var(--third-link-color);
}

.navLi:hover {
    background-color: var(--primary-background-color);
    font-style: italic;

    .arrowToggle {

        color: var(--primary-link-color)
    }

    .innerNav {
        display: block;
    }


}

.link {
    text-decoration: none;
    color: var(--primary-link-color);
    border-bottom: 1px solid var(--primary-link-color);

}




.innerlink {
    text-decoration: none;
    color: black;



}

.innerlink:hover {
    color: var(--primary-link-color);
    border-bottom: 1px solid var(--primary-link-color);

}